Repository Ashraf-Atef1/Egypt-drug-checker-dashboard, pull requests merged in 2024-10, with the labels that each got.

#4 Frontend khaled
  client/egypt-drug-checker-dashboard/src/components/shared/input-field/InputField.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/input-field/InputField.model.ts
  client/egypt-drug-checker-dashboard/src/components/shared/input/Input.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/input/Input.model.ts
  client/egypt-drug-checker-dashboard/src/components/shared/profile-card/ProfileCard.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/profile-card/ProfileCard.model.ts
  client/egypt-drug-checker-dashboard/src/components/shared/review-card/ReviewCard.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/review-card/ReviewCard.model.ts
  client/egypt-drug-checker-dashboard/src/components/shared/review-card/label-field/LabelField.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/review-card/label-field/LabelField.model.ts
  client/egypt-drug-checker-dashboard/src/components/shared/text-button/TextButton.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/text-button/TextButton.model.ts
Labels: enhancement, shared-components

#5 Frontend khaled
  client/egypt-drug-checker-dashboard/src/components/shared/input/Input.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/page-title/PageTitle.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/pagination-bar/PaginationBar.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/pagination-bar/PaginationBar.model.ts
  client/egypt-drug-checker-dashboard/src/components/shared/profile-card/ProfileCard.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/profile-card/ProfileCard.model.ts
  client/egypt-drug-checker-dashboard/src/components/shared/review-card/ReviewCard.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/review-card/ReviewCard.model.ts
  client/egypt-drug-checker-dashboard/src/components/shared/text-button/TextButton.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/text-button/TextButton.model.ts
  client/egypt-drug-checker-dashboard/src/components/shared/user-avatar/UserAvatar.component.tsx
  client/egypt-drug-checker-dashboard/src/components/shared/user-avatar/UserAvatar.model.ts
Labels: bug, enhancement, shared-components, frontend

#6 Frontend ashraf
  client/egypt-drug-checker-dashboard/src/assets/images/doctor-user.png
  client/egypt-drug-checker-dashboard/src/assets/images/doctor-user.svg
  client/egypt-drug-checker-dashboard/src/components/header/Header.component.tsx
  client/egypt-drug-checker-dashboard/src/components/header/Header.model.ts
  client/egypt-drug-checker-dashboard/src/components/header/coins/Coins.component.tsx
  client/egypt-drug-checker-dashboard/src/components/header/coins/Coins.model.ts
  client/egypt-drug-checker-dashboard/src/components/header/drop-menu/DropMenu.component.tsx
  client/egypt-drug-checker-dashboard/src/components/header/drop-menu/DropMenu.model.ts
  client/egypt-drug-checker-dashboard/src/components/header/drop-menu/notifications/Notifications.component.tsx
  client/egypt-drug-checker-dashboard/src/components/header/drop-menu/profile/Profile.component.tsx
  client/egypt-drug-checker-dashboard/src/components/header/notifications/Notifications.component.tsx
  client/egypt-drug-checker-dashboard/src/components/header/profile/Profile.component.tsx
  client/egypt-drug-checker-dashboard/src/components/header/search/Search.component.tsx
  client/egypt-drug-checker-dashboard/src/components/home/content-container/ContentContainer.component.tsx
  client/egypt-drug-checker-dashboard/src/components/home/content-container/ContentContainer.model.ts
  client/egypt-drug-checker-dashboard/src/components/home/home.page.tsx
  client/egypt-drug-checker-dashboard/src/components/home/reviews/reviews.component.tsx
  client/egypt-drug-checker-dashboard/src/components/home/reviews/reviews.model.ts
  client/egypt-drug-checker-dashboard/src/components/home/statistics-card/StatisticsCard.component.tsx
  client/egypt-drug-checker-dashboard/src/components/home/statistics-card/StatisticsCard.model.ts
  client/egypt-drug-checker-dashboard/src/components/home/user/user.component.tsx
  client/egypt-drug-checker-dashboard/src/components/home/user/user.model.ts
  client/egypt-drug-checker-dashboard/src/components/home/users/users.component.tsx
  client/egypt-drug-checker-dashboard/src/components/home/users/users.model.ts
  client/egypt-drug-checker-dashboard/src/components/leader-board/LeaderBoard.model.tsx
  client/egypt-drug-checker-dashboard/src/components/leader-board/LeaderBoard.page.tsx
  client/egypt-drug-checker-dashboard/src/components/leader-board/user-card/UserCard.component.tsx
  client/egypt-drug-checker-dashboard/src/components/leader-board/user-card/UserCard.model.ts
  client/egypt-drug-checker-dashboard/src/components/nav-bar/NavBar.component.tsx
  client/egypt-drug-checker-dashboard/src/components/nav-bar/NavBar.model.ts
  client/egypt-drug-checker-dashboard/src/components/nav-bar/nav-link-container/NavLinkContainer.component.tsx
  client/egypt-drug-checker-dashboard/src/components/nav-bar/nav-link-container/NavLinkContainer.model.ts
  client/egypt-drug-checker-dashboard/src/components/review/Review.model.tsx
  client/egypt-drug-checker-dashboard/src/components/review/Review.page.tsx
  client/egypt-drug-checker-dashboard/src/components/review/information-label/InformationLabel.component.tsx
  client/egypt-drug-checker-dashboard/src/components/review/information-label/InformationLabel.model.ts
  client/egypt-drug-checker-dashboard/src/components/reviews/Reviews.model.ts
  client/egypt-drug-checker-dashboard/src/components/reviews/Reviews.page.tsx
  client/egypt-drug-checker-dashboard/src/components/reviews/action-button/ActionButton.component.tsx
  client/egypt-drug-checker-dashboard/src/components/reviews/action-button/ActionButton.model.tsx
  client/egypt-drug-checker-dashboard/src/components/store/Store.page.tsx
  client/egypt-drug-checker-dashboard/src/components/store/store-item/StoreItem.component.tsx
  client/egypt-drug-checker-dashboard/src/components/store/store-item/StoreItem.model.ts
  client/egypt-drug-checker-dashboard/src/components/store/store.model.ts
  client/egypt-drug-checker-dashboard/src/components/ui/button.tsx
  client/egypt-drug-checker-dashboard/src/components/ui/card.tsx
  client/egypt-drug-checker-dashboard/src/components/ui/pagination.tsx
Labels: enhancement, frontend, components

#7 adding forms that will be used across app to the components folder
  client/egypt-drug-checker-dashboard/src/components/edit-drug-form/EditDrugForm.component.tsx
  client/egypt-drug-checker-dashboard/src/components/edit-drug-form/EditDrugForm.model.ts
  client/egypt-drug-checker-dashboard/src/components/edit-drug-form/field/Field.component.tsx
  client/egypt-drug-checker-dashboard/src/components/edit-drug-form/field/Field.model.tsx
  client/egypt-drug-checker-dashboard/src/components/edit-profile-form/EditProfileForm.component.tsx
  client/egypt-drug-checker-dashboard/src/components/edit-profile-form/EditProfileForm.model.ts
  client/egypt-drug-checker-dashboard/src/components/login-form/LoginForm.component.tsx
  client/egypt-drug-checker-dashboard/src/components/login-form/LoginForm.model.ts
  client/egypt-drug-checker-dashboard/src/components/sign-up-form/SignUpForm.component.tsx
  client/egypt-drug-checker-dashboard/src/components/sign-up-form/SignUpForm.model.ts
Labels: enhancement, frontend, components

#8 Frontend ashraf
  client/egypt-drug-checker-dashboard/src/app/(unauthorized)/layout.tsx
  client/egypt-drug-checker-dashboard/src/app/(unauthorized)/login/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(unauthorized)/sign-up/page.tsx
  client/egypt-drug-checker-dashboard/src/lib/api/edit-drug/editDrug.route.ts
  client/egypt-drug-checker-dashboard/src/lib/api/edit-drug/editDrug.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/home/home.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/home/home.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/leader-board/leaderBoard.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/leader-board/leaderBoard.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/login/login.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/login/login.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/logout/logout.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/logout/logout.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/profile/profile.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/review-action/reviewAction.route.ts
  client/egypt-drug-checker-dashboard/src/lib/api/review-action/reviewAction.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/review/review.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/review/review.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/reviews/reviews.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/reviews/reviews.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/routes.ts
  client/egypt-drug-checker-dashboard/src/lib/api/sign-up/signUp.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/sign-up/signUp.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/store/store.route.ts
  client/egypt-drug-checker-dashboard/src/lib/api/store/store.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/user/user.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/user/user.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/api/users/users.router.ts
  client/egypt-drug-checker-dashboard/src/lib/api/users/users.scheme.ts
  client/egypt-drug-checker-dashboard/src/lib/store/root.reducer.ts
  client/egypt-drug-checker-dashboard/src/lib/store/store.ts
  client/egypt-drug-checker-dashboard/src/lib/store/user/user.model.ts
  client/egypt-drug-checker-dashboard/src/lib/store/user/user.slice.ts
  client/egypt-drug-checker-dashboard/src/utils/fetcher/Sfetcher.ts
  client/egypt-drug-checker-dashboard/src/utils/fetcher/fetcher.ts
  client/egypt-drug-checker-dashboard/src/utils/helpers/mapZodError.ts
Labels: documentation, enhancement, frontend, components

#9 adding routes components in app folder
  client/egypt-drug-checker-dashboard/src/app/(root)/home/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/home/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/layout.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/layout.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/leader-board/[pageNumber]/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/leader-board/[pageNumber]/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/leader-board/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/leader-board/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/profile/edit/[userId]/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/profile/edit/[userId]/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/profile/edit/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/profile/edit/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/profile/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/profile/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/review/[pageNumber]/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/review/[pageNumber]/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/review/edit/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/review/edit/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/review/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/review/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/reviews/[pageNumber]/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/reviews/[pageNumber]/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/reviews/edit/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/reviews/edit/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/reviews/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/reviews/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/store/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/store/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/users/[pageNumber]/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/users/[pageNumber]/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/(root)/users/page.tsx
  client/egypt-drug-checker-dashboard/src/app/(root)/users/page.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/StoreProvider.tsx
  client/egypt-drug-checker-dashboard/src/app/StoreProvider.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/favicon.ico
  client/egypt-drug-checker-dashboard/src/app/favicon.ico:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/fonts/GeistMonoVF.woff
  client/egypt-drug-checker-dashboard/src/app/fonts/GeistMonoVF.woff:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/fonts/GeistVF.woff
  client/egypt-drug-checker-dashboard/src/app/fonts/GeistVF.woff:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/globals.css
  client/egypt-drug-checker-dashboard/src/app/globals.css:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/layout.tsx:Zone.Identifier
  client/egypt-drug-checker-dashboard/src/app/page.tsx
  client/egypt-drug-checker-dashboard/src/app/page.tsx:Zone.Identifier
Labels: enhancement, frontend, components
